{% extends "base.html" %}
{% block body %}

<h1  style="color: white; border-radius: 5px; padding: 2px 15px; position:absolute;left: 420px;top: 350px;background-color:rgb(255, 106, 131 );">Welcome to the Data Visualization</h1>
<marquee behavior="alternate" direction="left"><h3 style="color:blue;">Artifical Intelligence|Machine Learning|Deep Learning<h3></marquee>
<a href="/signup" style="position:absolute;left: 660px;top: 424px; font-size:15px; text-decoration:none; border: 2px solid rgb(113, 227, 227);padding: 16px 52px; background-color: rgb(113, 227, 227); color: black; border-radius: 5px; font-weight: bold;">Get Started</a>
 
    

{% endblock %}
